/*    INITIALIZING
======================
*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
}
html, body {
    direction: rtl;
}
html {
    /* Size of largest container or bigger */
    min-width: 1190px;
}
ul {
    list-style-type: none;
}
a {
    color: #444;
    text-decoration: none;
}
.container {
    width: 1170px;
    position: relative;
    margin: auto;
    padding: 0 10px;
}
.clearfix {
    clear: both;
}

/* Fast Transition */

nav ul li a,
footer .important-links ul li a,
footer .footer-bottom .copyrights > a,
.pages-links .col .item a.text,
.video-details .share-btns > a i
{
    -moz-transition: .2s ease;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

/* Slow Transition */

.social-links a i,
.item-img img,
.overlay-play-icon,
.social-links a,
.more i{
     -moz-transition: .3s ease;
    -webkit-transition: .3s ease;
    transition: .3s ease;   
}

/*    SITE HEADER
=====================
*/

header {
    padding-top: 1%;
    background-color: #c9d5e3;
}
header .logo {
    float: right;
    margin-top: 50px;
    margin-left: 1%;
    margin-bottom: 1%;
}
.logo img {
    width: 140px;
}
header .social-links {
    position: absolute;
    top: 0;
    left: 10px;
}
header .ads {
    float: left;
    margin-left: 5%;
    width: 75%;
    margin-top: 64px;
}
header .ads img {
    width: 100%;
}

/* Search Box */
header .search-box {
    margin-bottom: 20px;
    width: 250px;
    position: relative;
    float: left;
}
header .search-box input[type="text"] {
    font: 400 12px ge_ss_2_light;
    width: 100%;
    padding: 8px;
    padding-right: 41px;
    border: 1px solid #32728b;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px rgba(10, 2, 2, 0.25) inset;
}
header .search-box button {
    position: absolute;
    top: 5px;
    right: 3px;
    width: 32px;
    height: 26px;
    border: none;
    background: transparent;
    border-left: 1px solid #838788;
    color: #a1a2a4;
    cursor: pointer;
    font-size: 17px;
}

/* Social Links */
.social-links a {
    cursor: pointer;
    border: none;
    color: #fff;
    text-align: center;
    margin-right: 7px;
    display: inline-block;
    font-size: 16px;
}
.social-links a:hover {
    -moz-transform: rotatez(360deg);
    -wekit-transform: rotatez(360deg);
    transform: rotatez(360deg);
}
.social-links a i {
    width: 26px;
    height: 26px;
    border-radius: 7px;
    line-height: 150%;
}
.fa-facebook.colored {
    background-color: #3b5998; 
}
.fa-twitter.colored {
    background-color: #55acee;
}
.fa-google-plus.colored {
    background-color: #dd4b39;
}
.fa-pinterest.colored {
    background-color: #cb2027;
}
.fa-linkedin.colored {
    background-color: #007bb5;
}
.social-links a:hover i:not(.colored) {
    top: -100%;
}
.social-links a:hover i.colored {
    top: 0;
}

/*    SITE NAVIGATION BAR
==============================
*/

nav {
    padding: 8px 0;
    background-color: #32728b;
    -moz-box-shadow: 0px 1px 7px rgba(0,0,0,.8);
    -webkit-box-shadow: 0px 1px 7px rgba(0,0,0,.8);
    box-shadow: 0px 1px 7px rgba(0,0,0,.8);
}
nav ul li {
    float: right;
}
nav ul li:not(:last-child) {
    border-left: 1px solid #5e8ba5;
}
nav ul li a {
    color: #fffdff;
    display: block;
    padding: 4px 16px;
    font: 400 13px ge_ss_2_light,Arial;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
nav ul li:first-of-type a {
    padding: 4px 0px 0px 16px;
}

nav ul li a:hover,
nav .active {
    -moz-transform: translatey(-4px);
    -webkit-transform: translatey(-4px);
    transform: translatey(-4px);
}

/*    SITE SLIDER
=====================
*/

#top-slider {
    direction: ltr;
    position: relative;
    overflow: hidden;
    height: 480px;
    background-color: #e8edf0;
    margin: 20px 0;
}
#top-slider .owl-item .item {
    height: 440px;
}
#top-slider .owl-item .item img {
    width: 100%;
    min-height: 480px;
}
.owl-theme .owl-controls .owl-page span {
    background: transparent;
    border: 2px solid #a9a9a9;
}
.owl-theme .owl-controls .active span {
    border: 2px solid #d64935;
}
.owl-prev {
    position: absolute;
    top: 180px;
    left: 0;
    background: transparent !important;
    font-size: 36px !important;
}
.owl-next {
    position: absolute;
    top: 180px;
    right: 0;
    background: transparent !important;
    font-size: 36px !important;
}

/*    SITE CONTENT
=======================
*/

section.site-content {
    background-color: #fff;
    font: 400 12px ge_ss_2;
}
.section-title {
    text-align: center;
    margin-bottom: 20px;
    font: 300 26px ge_ss_2_light;
    color: #e26454;
    margin-top: 70px;
}
/* LASTEST NEWS */
.last-news {
    float: right;
    background-color: #32728b;
    width: 24%;
    margin-left: 1%;
    margin-top: 0;
    box-shadow: 0px 1px 3px 0px #004763;
}
.last-news > div {
    height: 350px;
    overflow: auto;
    padding: 1%;
}
.last-news h2 {
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    color: #eee;    
    font: 300 20px ge_ss_2_light;
    background: #004763;
}
.last-news .report {
    padding: 8px 3px;
}
.last-news .report:not(:first-of-type) {
    border-top: 1px solid #6197ab;
}
.last-news .report:not(:last-child) {
    border-bottom: 1px solid rgb(28, 71, 85);
}
.last-news a {
    color: #eee;
    font-weight: 400;
    display: block;
}
.last-news .report h3 {
    font: 300 14px ge_ss_2;
    margin-bottom: 2%;
    color: #98bad3;
}
.last-news .report p {
    font: 11px ge_ss_2_light;
    color: #fffbff;
}

/* PAGES LINKS */
.pages-links {
    float: left;
    direction: ltr;
    width: 75%;
    padding: 0;
    padding-left: 4px; 
}
.pages-links .col {
    width: 33.3%;
    float: right;
    margin-bottom: 25px;
}
.pages-links .item {
    width: 260px;    
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.pages-links .item img {
    width: 100%;
    height: 100%;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.pages-links .item a {
    display: block;
    height: 170px;
    position: relative;
}
h3.item-title {
    direction: rtl;
    padding: 5px;
}
a.item-img:hover img {
    transform: rotatez(7deg) scale(1.3);
}
a.item-img {
    overflow: hidden;
}

.pages-links .item a:hover ::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}
.pages-links .item a h3 {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,.6),rgba(0,0,0,.001));
    padding: 13px;
    color: #eee;
    font: 400 15px font_b;
}
.pages-links .col .item a.text {
    color: #242021;
    font: 400 16px/20px ge_ss_2_light;
    display: inline !important;
    position: initial;
    color: #222;
}
.pages-links .col .item a.text:hover {
    color: #de4b39;
}
.pages-links .col .item span.heart i {
    margin-right: 5px;
    padding-top: 2px;
    color: #db4836;
}
.pages-links .col .item span.heart * {
    float: left;
}
.pages-links .col .item span.heart {
    float: left;
    font-family: tahoma;
    direction: rtl;
    font-size: 14px;
    font-weight: 400;
    color: #8f97a2;
    cursor: pointer;
}

/*    VIDEOS SECTION
========================
*/

section.videos {
    margin: 0;
}
section.videos .section-title {
    margin-top: 30px;
}
section.videos .col {
    float: right;
    width: 25%;
    margin-bottom: 15px;
}
.video {
    width: 260px;
    background: #e8edf0;
}
section.videos .col:not(:first-of-type) .video {
    margin: auto;
}
.videos .col:nth-of-type(4) .video {
    margin-right: 20px !important;
}
section.videos .col:nth-of-type(2) .video {
    margin-right: 5px;
}
.video a {
    display: block;
}
.video-content, .video-content img, .overlay-play-icon, .video a {
    width: 100%;
    height: 100%;
}
.video-content img, .overlay-play-icon {
    height: 180px;
}
.video-content {
    position: relative;
}
.video-content .overlay-play-icon {
    position: absolute;
    top: 0;
    left: 0;
}
.video-content .overlay-play-icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    color: #fff;
    text-align: center;
    line-height: 180px;
    background: rgba(0,0,0,.6);
    z-index: 1;
    opacity: 1;
    color: rgba(255, 255, 255, 0.5);
}
.video-content:hover .overlay-play-icon {
    z-index: -1;
    opacity: 0;
}
.video-details {
    padding: 0px 4px;
    position: relative;
}
.video-details > span {
    display: inline-block;
    width: 48.2%;
    text-align: left;
    padding: 5px 0;
    color: #98a2a1;
    cursor: pointer;
    font-family: arial;
    font-size: 15px;
}
.video-details > span i {
    margin-right: 7px;
    color: #dd523b;
}
.video-details > span:not(:last-of-type) {
    text-align: center;
}
.video-details > span.share {
    text-align: right;
}
.video-details > span.play i, .video-details > span.play a {
    color: #231f20;
}
.video-details .share-btns {
    position: absolute;
    top: 30px;
    right: 0;
    background: #9a4132;
    width: 86%;
    display: none;
    padding: 7px;
}
.video-details .share-btns:after {
    content: ' ';
    width: 20px;
    height: 19px !important;
    position: absolute;
    height: 32px;
    background: #9a4132;
    top: -4px;
    right: 7px;
    transform: rotatez(45deg);
    z-index: 1;
}
.video-details .share-btns > a {
    display: inline-block;
    float: left;
    width: 20%;
    color: #ddd;
}
.video-details .share-btns > a:not(:last-child) {
    border-right: 1px solid #eee;
}
.video-details .share-btns > a i {
    color: #ddd;
}
.video-details .share-btns > a:hover i {
    color: #4c2525 !important;
}
.more {
    font: 400 20px ge_ss_2_light;
    margin-top: 30px;
}
.more a {
    color: #2178ad;
}
.more i {
    font-size: 14px;
    margin-right: 5px;
}
.more a:hover i {
    margin-right: 12px;
}

/*    SITE FOOTER
=======================
*/

footer {
    color: #f2f2f2;
    font: 400 13px/25px ge_ss_2_light;
}

/* FOOTER TOP */

footer .footer-top {
    background-color: #eee;
    padding: 1%;
    margin-top: 70px;
}
footer .some-links {
    float: right;
}
footer .some-links a {
    font: 400 16px ge_ss_2;
    padding: 0px 10px;
    color: #2178ad;
}
footer .some-links a:not(:last-child) {
    border-left: 1px solid #2178ad;
    padding-left: 10px;
}
footer .social-links {
    float: left;
}

/* FOOTER CENTER */

footer .footer-center {
    background-color: #32728b;
    padding: 2% 1%;
    font-size: 12px;
    line-height: 19px;
}
footer .footer-center .col {
    width: 23%;
    padding: 1%;
    float: right;
    padding-right: 3%;
}
footer .footer-center .col:first-child {
    margin: 15px 0;
    padding: 2%;
}
footer .footer-center .col:first-child a {
    display: block;
    border-left: 1px solid #1b4c5f;
}
footer .footer-center .col:nth-of-type(2) {
    padding-right: 44px;
}
footer .footer-center .col:nth-child(3) {
    padding-right: 82px;
}
footer .footer-center .col h3 {
    font: 300 17px ge_ss_2_light;
    margin-bottom: 20px;
}
footer .footer-center .col h3 span {
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px;
}
footer .important-links ul {
    list-style-type: disc;
    padding-right: 15px;
}
footer .important-links ul li a {
    color: #eee;
}
footer .important-links ul li a:hover {
    color: #1e4755;
}
/* FOOTER BOTTOM */

footer .footer-bottom {
    background-color: #004763;
}
footer .footer-bottom .copyrights {
    padding: 15px 0;
    font-size: 12px;
}
footer .footer-bottom .copyrights > p {
    float: right;
    color: #e8eeee;
}
footer .footer-bottom .copyrights > a {
    float: left;
    color: #ddd;
    position: relative;
    padding-left: 75px;
}
.copyrights > a span {
    display: inline-block;
}
.copyrights > a img {
    display: inline-block;
    width: 54px;
    position: absolute;
    top: -6px;
    left: 14px;
}
.go-top {
    font-size: 36px;
    position: absolute;
    top: -18px;
    right: calc(50% - 17px);
    cursor: pointer;
    color: rgba(255,255,255,.5);
}